body{
    background: #f2f2f5;
    min-width: 1170px;
    line-height: 26px;
    color: #414a60;
    font-size: 14px;
}
*{
	margin:0;
	padding: 0;
}
body, button, input, option, select, td, textarea {
	font-family: arial,verdana,helvetica,'PingFang SC','HanHei SC',STHeitiSC-Light,Microsoft Yahei,sans-serif;
	-webkit-font-smoothing: antialiased;
}
#section{
	margin: auto;
	margin-top: 30px;
}
.job-box{
	font-size: 14px;
	background-color: #fff;
    box-shadow: 0 4px 6px rgba(6,0,1,.05);
	margin-top: 20px;
	margin: auto;
	width: 1000px;
}
.job-list {
	background: #fff;
	margin-right: 234px;
	margin: auto;
}
li, ol, ul {
	list-style: none;
}
.job-list li:hover {
    background-color: #f8f9fb;
    -webkit-transition: all linear .2s;
    transition: all linear .2s;
}
.job-list li {
	height: 95px;
	cursor: pointer;
}
.job-primary {
    height: 50px;
    color: #4a4160;
    padding: 22px 0;
    margin: 0 30px;
    border-bottom: 1px #f2f2f5 solid;
    position: relative;
}
.info-primary{
	width: 290px;
	float: left;
	color: #4a4160;
}
.job-list li .name {
    font-size: 16px;
    font-weight: 400;
    height: 26px;
    line-height: 26px;
}

.job-title{
	font-size: 16px;
    font-weight: 400;
    max-width: 170px;
    display: inline-block;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
}
.job-primary .info-primary h3:hover{
	color: #409eff;
}
.job-list li .name {
    font-size: 16px;
    font-weight: 400;
    height: 26px;
    line-height: 26px;
}
.job-list li .name a {
    height: 26px;
    display: inline-block;
    line-height: 26px;
}
a {
    text-decoration: none;
    color: #414a60;
}
.job-list li .name span.red {
    height: 26px;
    display: inline-block;
    line-height: 26px;
    position: relative;
    float: right;
    padding-left: 8px;
    color: #fc703e;
}
.job-primary .info-detail {
    position: absolute;
    left: 0;
    top: 60px;
    width: 560px;
    height: auto;
    background: rgba(97,104,124,.9);
    z-index: 20;
    display: none;
    padding: 16px 24px 13px 24px;
}
.job-primary .info-detail .tags {
    font-size: 12px;
    color: #fff;
}
.job-list li .info-primary p {
    margin-top: 2px;
}
.job-list li p {
    margin-top: 2px;
    font-size: 12px;
    color: #9fa3b0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -o-text-overflow:ellipsis;
}
.job-primary .info-primary .info-detail p {
    color: #fff;
    margin: 7px 0 0 0;
    line-height: 21px;
    height: 45px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.vline {
    display: inline-block;
    width: 1px;
    height: 12px;
    vertical-align: middle;
    background: #e0e0e0;
    margin: 0 10px;
}
.vline-large {
    display: inline-block;
    width: 1px;
    height: 60px;
    vertical-align: middle;
    background: #e0e0e0;
    margin: 0 10px;
}
.applict{
	width: 144px;
	float: left;
	color: #4a4160;
}
.company-text {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
.recent{
	width: 138px;
	margin: 0 4px 0 45px;
	float: left;
	line-height: 30px;
	font-size: 12px;
	color: #999;
}
.compete{
	float: right;
	line-height: 30px;
	margin-right: 30px;
	font-size: 16px;
}
.view{
	height: 30px;
	position: relative;
}
a{text-decoration:none}