body{
	background: #f2f2f5;
}
#section{
	width: 945px;
	margin: auto;
	margin-top: 10px;
	font-size: 14px;
	background-color: #fff;
    box-shadow: 0 4px 6px rgba(6,0,1,.05);
    border-radius: 8px;
}
.title {
    border-bottom: 1px solid #f2f3f3;
    font-size: 16px;
    padding: 20px 0 15px;
    font-weight: 400;
    margin-left: 30px;
    margin-right: 30px;
}
.content{
	margin-top: 28px;
    padding-left: 90px;
}
ul{
	list-style: none;
}
.list{
	position: relative;
    height: 40px;
    line-height: 40px;
    padding: 10px 0;
}
.must-symbol{
	position: absolute;
    left: 0;
    top: 10px;
    color: #f27668;
    font-size: 17px;
    font-weight: 700;
    margin-top: 2px;
}
.list-title{
	display: inline-block;
    width: 56px;
    margin: 0 20px 0 20px;
    font-size: 14px;
    float: left;
}
.list-input{
	border: 1px solid #e5e5e5;
    border-radius: 3px;
    float: left;
    cursor: pointer;
	height: 40px;
	width: 264px;
	padding-left: 10px;
}

.w205 {
    width: 205px;
}
.com-select-left {
    height: 38px;
    float: left;
    padding: 0 10px;
}
.com-select-right {
    position: relative;
    width: 36px;
    height: 38px;
    line-height: 38px;
    border-left: 1px solid #e5e5e5;
    text-align: center;
    float: left;
}
.select{
	float: left;
	width: 784px;
	
}
.select-other {
    float: left;
    width: 100px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
	margin-right: 10px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
}
.selected {
    background: #409eff;
    color: #fff;
    border-color: #409eff;
}

#brief-introduce{
	width: 763px;
	height: 300px;
	font-size: 13px;
	font-family: '微软雅黑';
	padding-top: 10px;
}
#brief-introduce:focus{
	outline: none;
}
.divide-line{
	width: 940px;
	height: 1px;
	background: #f2f3f3;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 20px;
}
.form-btns {
    text-align: right;
    padding: 11px 16px 28px;
}
.vali-btn{
    background: #f8f9fb;
    color: #5dd5c8;
    margin-right: 20px;
}
.btn {
    display: inline-block;
    padding: 0 28px;
    line-height: 32px;
    background-color: #409eff;
    border: 1px solid #409eff;
    color: #fff;
    font-size: 14px;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
}
.btn-back{
	background: #fff;
	color: #409eff;
	border: #409eff 1px solid;
}
.list-input:focus{
	box-shadow: 1px 2px 3px #d7f4f1;
	border-color: #409EFF;
}
a{text-decoration:none}