.search-box{
	width: 1000px;
    position: relative;
    font-size: 13px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    /*border: 1px solid #55cbc4;*/
}

.btn-search {
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    background-color: #1e89e0;
    border: 0;
    cursor: pointer;
    font-size: 0;
    width: 9%;
    padding: 0;
    min-width: 0;
    background-position: 34px 10px;
    min-width: 0;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-size: 21px 22px;

}
.btn:hover {
    background-color: #6adbcf;
    color: #fff;
}
.city-select {
    display: block;
    width: 6.5%;
    height: 28px;
    border: 1px solid #1e89e0;
    border-right: none;
    line-height: 30px;
    float: left;
    padding: 6px 15px 8px 15px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
}
.city-select .line {
    width: 1px;
    height: 26px;
    background-color: #f2f2f5;
    position: absolute;
    top: 8px;
    right: 0;
}
.city-select .city-label {
    width: 55px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    margin: auto;
}
.city-select .city-label b/*.industry-sel b, .position-sel b*/ {
    font-weight: 400;
    font-size: 13px;
    color: #61687c;
    position: relative;
	right: -15px;
}

.city-select .city-label img{
	position: relative;
	top: 6px;
	right: -13px;
}
.text-search{
	width: 78.2%;
    height: 28px;
    line-height: 30px;
    padding: 7px 15px;
    border: 0;
    font-size: 13px;
    color: #414a60;
    float: left;
    border: 1px solid #1e89e0;
}
.city-box {
    display: none;
    position: absolute;
    /*width: 298px;*/
    background: #fff;
    top: 135px;
    left: 460px;
    z-index: 1;
    color: #9fa3b0;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
}
.dorpdown-province {
    float: left;
    width: 150px;
    height: 302px;
    overflow: auto;
}
.dorpdown-city {
    margin-left: 150px;
    width: 150px;
    background: #f8f9fa;
    height: 302px;
    overflow: auto;
    display: none;
}
.dorpdown-city li, .dorpdown-province li {
    padding-left: 28px;
    line-height: 50px;
    cursor: pointer;
}

.filter{
    line-height: 34px;
    font-size: 12px;
    margin-bottom: 10px;
    border: 1px solid #e8e8e8;
    border-bottom: 0 none;
    z-index: 1;
    width: 1000px;
    margin: auto;
    background: white;
}
.filter-item{
	height: 40px;
	border-bottom: 1px dashed #e8e8e8;
	line-height: 40px;
	font-size: 14px;
    color: #999;
}
.filter .title{

    margin-right: 30px;
    margin-left: 30px;
    float: left;
/*    border-right: 1px solid #e8e8e8;*/
}
.filter ul {
    float: left;
}

.filter li {
    float: left;
    white-space: nowrap;
    cursor: pointer;
    margin-right: 20px;
}